In [1]:
10 * 15

150

## Heading

**This is a bold text**

In [6]:
# The percentage sign works as a calculator of remainder
5 % 2 # Calculating the remainder while dividing 5 by 2

# Comment

1

In [8]:
(5<10) or (4<6)

True

In [11]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Error: Cannot divide by zero"

# Get user input
operation = input("Enter operation (+, -, *, /): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform calculation
if operation == "+":
    result = add(num1, num2)
elif operation == "-":
    result = subtract(num1, num2)
elif operation == "*":
    result = multiply(num1, num2)
elif operation == "/":
    result = divide(num1, num2)
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter operation (+, -, *, /):  /
Enter first number:  5
Enter second number:  0

Result: Error: Cannot divide by zero

In [18]:
"""
In publishing and graphic design, 
Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a 
document or a typeface without relying on meaningful content.
Lorem ipsum may be used as a placeholder before the final copy is available
"""
# print("Comment demonstration")
print("This is a demonstration of python operators")
print(5 * 10)

This is a demonstration of python operators
50

In [20]:
5 < 10 # Boolean Data Type

True

In [24]:
100 >= 100

True

In [26]:
x = 5
print(x)

5

In [29]:
x = 5
x *= 5 # x = (x * 5)
print(x)
x += 100 # x = (x + 100)
print(x)

25
125

In [30]:
print(x)
x = 10
print(x)

125
10

In [31]:
2 ** 5

32

In [44]:
city = 'Kathmandu'
name = 'John Doe'
age = 30
city
print(age)
name
print(city)

30
Kathmandu

In [49]:
print(5 + 15)
print(name + ' lives in ' + city)
print(name + 'lives in' + city)
print(name,'lives in', city, '. His age is', age)

20
John Doe lives in Kathmandu
John Doelives inKathmandu
John Doe lives in Kathmandu . His age is 30

In [59]:
a = '30'
b = '40'
print(a + b)
print('a + b =', int(a) + int(b))

3040
a + b = 70

In [73]:
a = '30'
print(a * 5, int(a)*5)

3030303030 150

## Check the keywords in python

In [61]:
for = 23
var1 = 23
# print(for)
print(var1)

23

In [64]:
1a11 = 25
print(1a11)

SyntaxError: invalid decimal literal (1224815478.py, line 1)

In [65]:
_a11 = 25
print(_a11)

25

In [67]:
nameofStudent = 'Ramesh Khatri'
var1 = 25
print(var1, nameofStudent)

25 Ramesh Khatri

In [69]:
print(var1)

25

In [70]:
temp = 50
Temp = 25
print(temp == Temp)

False

In [75]:
x = 5.6 #float data type or float64
y = 2 #integer data type or int64/int32
print(x * y)

11.2

In [78]:
print(type(x), type(y), type(nameofStudent))

<class 'float'> <class 'int'> <class 'str'>

In [10]:
a = 2
b = 10
c = a * b
d = a ** b
e = (c == d)
print(c, d)
print(e)

20 1024
False

In [15]:
a = 20 #integer
print(a + int('3'))
print('The value of a is', a)
print('The value of a is ' + str(a) ) #typecasting
print(f'The value of a is {a}.')

23
The value of a is 20
The value of a is 20
The value of a is 20.

In [10]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [25]:
# Typecasting
age=25
print(type(age))
age_str = str(age)
print(age_str, type(age_str))

<class 'int'>
25 <class 'str'>

In [21]:
if True:
    print("Correct Indentation")
    if False:
        print("This won't print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block

In [32]:
input1 = input("Enter some value/text: ")
print(input1, type(input1))

Enter some value/text:  25

25 <class 'str'>

In [34]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
num1 + num2

Enter first number:  25
Enter second number:  75

'2575'

In [38]:
# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

addition = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
remainder = num1 % num2

print("Sum: " + str(addition))
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)
print("Remainder:", remainder)

Enter first number:  200
Enter second number:  100

Sum: 300.0
Difference: 100.0
Product: 20000.0
Quotient: 2.0
Remainder: 0.0